<div class="container-fluid mt-1" style="background-color: #FFFAF0">
  <div class="row">
    <div class="col-md-6">
      <div class="d-inline-flex flex-column">
        <div class="p-2"><img src="/assets/img/tutoriels-2.jpg" style="height: 300px; height: 300px"
                              class="img-fluid animated wow fadeIn" data-wow-duration="3s" data-wow-delay="1s"
                              alt="Responsive image">
        </div>
        <div class="p-2"><img src="/assets/img/tutoriels-3.jpg" style="height: 300px; height: 300px"
                              class="img-fluid animated wow fadeIn" data-wow-duration="3s" data-wow-delay="1s"
                              alt="Responsive image">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5">
          <div class="card z-depth-3 rounded">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height:250px;"
                   src="/assets/img/java-8.png"
                   alt="Card image cap">
              <a href="#!">
                <div class="mask flex-center rgba-blue-light">
                </div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Nouveautés Java 8</h4>

            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="card z-depth-3 rounded">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top animated wow fadeInRight" data-wow-delay="1s" style="height: 250px;"
                   src="assets/img/ssl.png"
                   alt="Card image cap">
              <a href="#!">
                <div class="mask flex-center rgba-blue-light">
                </div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Protocole TLS/SSL</h4>

            </div>

          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-5">
          <div class="card z-depth-3 rounded">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height: 250px;"
                   src="/assets/img/elasticsearch.png"
                   alt="Card image cap">
              <a href="#!">
                <div class="mask flex-center rgba-blue-light">
                </div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Elasticsearch</h4>

            </div>

          </div>
        </div>
        <div class="col-md-5">
          <div class="card z-depth-3 rounded">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top animated wow fadeInRight" data-wow-delay="1s" style="height: 225px;"
                   src="/assets/img/jwt.png"
                   alt="Card image cap">
              <a href="#!">
                <div class="mask flex-center rgba-blue-light">
                </div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h4 class="card-title">Authentification JWT</h4>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Card -->
<!-- Card -->

