<mdb-navbar SideClass="navbar navbar-expand-md navbar-light light-blue lighten-3 sticky-top">
<mdb-navbar-brand>
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo-web-transparent.png" width="130" height="40" alt="">
  </a>
</mdb-navbar-brand>
<links>
  <ul class="navbar-nav ml-auto">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/home" class="nav-link waves-light" mdbWavesEffect>Home <span class="sr-only">(current)</span></a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/blog" class="nav-link waves-light" mdbWavesEffect>Blog</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="tutoriels" class="nav-link waves-light" mdbWavesEffect>Tutoriels</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>Formations vidéos</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="about" class="nav-link waves-light" mdbWavesEffect>A propos</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="contact" class="nav-link waves-light" mdbWavesEffect>Contact</a>
    </li>
  </ul>
</links>
</mdb-navbar>
