<div style="height:100%;">
  <div class="container-fluid mt-1 pt-5">
    <div class="row">
      <div class="col-xl-4">
        <div class="d-inline-flex flex-column">
          <div class="p-2"><img src="/assets/img/tutoriels-2.jpg" style="height: 300px; height: 300px"
                                class="img-fluid animated wow fadeIn" data-wow-duration="3s" data-wow-delay="1s"
                                alt="Responsive image">
          </div>
          <div class="p-2"><img src="/assets/img/tutoriels-3.jpg" style="height: 300px; height: 300px"
                                class="img-fluid animated wow fadeIn" data-wow-duration="3s" data-wow-delay="1s"
                                alt="Responsive image">
          </div>
        </div>
      </div>
      <div class="col-xl-8">
        <div class="row pb-5">
          <div class="col-lg-3 col-md-4 pt-5" *ngFor="let tutoriel of getAvailableTutoriels();">
            <div class="card z-depth-3 rounded available">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height:150px;"
                     [src]="tutoriel.urlImg"
                     alt="Card image cap">
                <a [href]="tutoriel.location">
                  <div class="mask flex-center rgba-blue-light">
                  </div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">{{tutoriel.title}}</h4>

              </div>

            </div>
          </div>
        </div>
        <div class="row pb-5">
          <div class="col-lg-3 col-md-4 " *ngFor="let tutoriel of getNotAvailableTutoriels();">
            <div class="card z-depth-3 rounded unavailable">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height:150px;"
                     [src]="tutoriel.urlImg"
                     alt="Card image cap">
                <a [href]="tutoriel.location">
                  <div class="mask flex-center rgba-blue-light">
                  </div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body">

                <!-- Title -->
                <h4 class="card-title">{{tutoriel.title}}</h4>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Card -->
<!-- Card -->

