<div class="container-fluid pt-2 bg">
  <div class="row">
    <div class="col-md-6">
      <div class="p-2"><img src="/assets/img/moi.png" style="height: 500px;"
                            class="img-fluid animated wow fadeIn rounded" data-wow-duration="3s" data-wow-delay="1s"
                            alt="Responsive image">
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-column">
        <div class="card z-depth-5 animated wow fadeInLeft" data-wow-delay="1s"
             style="background-color: #FFFAF0;height:200px;">
          <div class="card-body pb-0">
            <h1>Consultant sénior Fullstack</h1>
            <p>Diplômé en architecture logicielle et design pattern, Je travaille exclusivement auprès de clients grand
              compte dans le cadre de la transformation digital de leurs systèmes d’information. Notamment dans le
              domaine de la Banque-finance-Assurance.</p>
          </div>
        </div>

        <div class="card z-depth-5 ml-auto mt-3 animated wow fadeInLeft" data-wow-delay="1s"
             style="width: 400px; background-color: #FFFAF0;">
          <div class="card-body pb-0">
            <img style="width: 30px; height: 30px;" src="/assets/img/check.png" align="left" alt="check">
            <p>Conception de poc (proof of concept).</p>
          </div>
        </div>
        <div class="card z-depth-5 ml-auto mt-3 animated wow fadeInLeft" data-wow-delay="1s"
             style="width: 400px; background-color: #FFFAF0"
        >
          <div class="card-body pb-0">
            <img style="width: 30px; height: 30px;" src="/assets/img/check.png" align="left" alt="check">
            <p>Encadrement de consultants juniors</p>
          </div>
        </div>
        <div class="card z-depth-5 ml-auto mt-3 animated wow fadeInLeft" data-wow-delay="1s"
             style="width: 400px; background-color: #FFFAF0">
          <div class="card-body pb-0">
            <img style="width: 30px; height: 30px;" src="/assets/img/check.png" align="left" alt="check">
            <p>Implémentation de la solution technique</p>
          </div>
        </div>
        <div class="card z-depth-5 ml-auto mt-3 animated wow fadeInLeft" data-wow-delay="1s"
             style="width: 400px; background-color: #FFFAF0">
          <div class="card-body pb-0">
            <img style="width: 30px; height: 30px;" src="/assets/img/check.png" align="left" alt="check">
            <p>Mise en place de cluster ELK (Elastic)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button style="width: 65%;" type="button" class="btn btn-success"><i class="fa fa-download"
                                                                           aria-hidden="true"></i>Télécharger CV
      </button>
    </div>
  </div>
  <br><br>

  <div detect-scroll class="row ml-5 mr-5 mt-4" (onScroll)="triggerSkillProgressbar($event)" [bottomOffset]="0" [topOffset]="600" >
    <div class="col-md-5 offset-md-1">
      <div class="d-flex flex-column">
        <div class="mx-auto"><h2 style="color: #2e6da4" class="display-5"><strong>Languages et Frameworks</strong></h2>
        </div>
        <div class="mt-4" *ngFor="let competence of getLanguageSkill()">
          <div><h4 style="color: #2e6da4" class="display-5"><strong>{{competence.skill}}</strong></h4></div>
          <progressbar style="height: 30px;" [max]=100 [value]=competence.progress type="success">
            <span class="text-nowrap">{{competence.value}}%</span>
          </progressbar>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="d-flex flex-column">
        <div class="mx-auto"><h2 style="color: #2e6da4" class="display-5"><strong>Outils</strong></h2></div>

        <div class="mt-4" *ngFor="let competence of getOutilSkill()">
          <div><h4 style="color: #2e6da4" class="display-5"><strong>{{competence.skill}}</strong></h4></div>
          <progressbar style="height: 30px;" [max]=100 [value]=competence.progress type="success">
            <span class="text-nowrap">{{competence.value}}%</span>
          </progressbar>
        </div>
      </div>
    </div>
  </div>
</div>


