<div class="container">
  <br>
  <br>
  <div class="row">
    <h2 style="color: #2e6da4" class="display-5 ml-auto mr-auto"><strong>Expériences</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline4">
        <div class="timeline" *ngFor="let experience of experiences">
          <a href="#" class="timeline-content">
            <span class="year">{{experience.formattedDate}}</span>
            <div class="inner-content">
              <h3 class="title">{{experience.poste}}-{{experience.entreprise}}</h3>
              <p class="description">
                {{experience.description}}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
