<div class="container">
  <br>
  <br>
  <div class="row">
    <h2 style="color: #2e6da4" class="display-5 ml-auto mr-auto"><strong>Expériences</strong></h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="main-timeline4">
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="year">Sept-2019</span>
            <div class="inner-content">
              <h3 class="title">Consultant senior fullstack - Renault</h3>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="year">Juin-2018</span>
            <div class="inner-content">
              <h3 class="title">Consultant senior fullstack - Buyway</h3>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="year">Mars-2016</span>
            <div class="inner-content">
              <h3 class="title">Consultant senior fullstack - Axa</h3>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
              </p>
            </div>
          </a>
        </div>
        <div class="timeline">
          <a href="#" class="timeline-content">
            <span class="year">Dec-2014</span>
            <div class="inner-content">
              <h3 class="title">Développeur junior - ING direct</h3>
              <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ex odio, rhoncus sit amet tincidunt eu, suscipit a orci. In suscipit quam eget dui auctor.
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
