<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<div class="contact-pageheader">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="contact-caption">
          <h1 class="contact-title typewriter">"Don’t Be Shy, Talk to Me".</h1>
          <br><br><br><br><br><br>
          <img class="animated wow fadeInLeft" data-wow-delay="1s" src="/assets/img/icon-spring-boot.svg" style="height: 100px; width: 100px;">
          <img class="animated wow fadeIn" data-wow-delay="2s" src="/assets/img/angular-icon.svg" style="height: 100px; width: 100px;">
          <img class="animated wow fadeIn" data-wow-delay="3s" src="/assets/img/elastic-icon.svg" style="height: 100px; width: 100px;">
          <img class="animated wow fadeInRight" data-wow-delay="4s" src="/assets/img/docker-icon.png" style="height: 100px; width: 100px;">
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
        <div class="contact-form">
          <h3 class="contact-info-title">Contact Me</h3>
          <div class="row">
            <form>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="Name"></label>
                  <input id="name" type="text" placeholder="Name" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="email"></label>
                  <input id="email" type="text" placeholder="Email" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="Phone"></label>
                  <input id="phone" type="text" placeholder="Phone" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label required sr-only" for="select"></label>
                  <select class="form-control">
                    <option value="">What Are You Getting In Touch?</option>
                    <option value="">Relationship</option>
                    <option value="">Life Coaching</option>
                    <option value="">Leadership</option>
                    <option value="">Time Management</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                <div class="form-group">
                  <label class="control-label sr-only" for="textarea"></label>
                  <textarea class="form-control pdt20" id="textarea" name="textarea" rows="4" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <button class="btn btn-primary btn-lg ">Send message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
