<div class="container">
  <div class="row">
    <video width="1200" height="400" autoplay>
      <source src="/assets/img/jingle-video.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    </div>
  </div>
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 pb-5">
      <div class="card z-depth-3 rounded available">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height:150px;"
               src="/assets/img/java-8.png"
               alt="Card image cap">
          <a href="#!">
            <div class="mask flex-center rgba-blue-light">
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Nouveautés Java 8</h4>

        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card z-depth-3 rounded available">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top animated wow fadeInRight" data-wow-delay="1s" style="height: 150px;"
               src="assets/img/ssl.png"
               alt="Card image cap">
          <a href="#!">
            <div class="mask flex-center rgba-blue-light">
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Protocole TLS/SSL</h4>

        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card z-depth-3 rounded available">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height: 150px;"
               src="/assets/img/elasticsearch.png"
               alt="Card image cap">
          <a href="#!">
            <div class="mask flex-center rgba-blue-light">
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Elasticsearch</h4>

        </div>

      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card z-depth-3 rounded available">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top animated wow fadeInRight" data-wow-delay="1s" style="height: 155px;"
               src="/assets/img/jwt.png"
               alt="Card image cap">
          <a href="#!">
            <div class="mask flex-center rgba-blue-light">
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">Authentification JWT</h4>

        </div>

      </div>
    </div>
  </div>
</div>
