<div class="container">
  <div class="row">
    <video #videoPlayer id="intro" width="1200" height="400" autoplay>
      <source src="/assets/img/jingle-video.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    </div>
  </div>
<br><br><br>
<div class="container">
  <div class="row pb-5">
    <div class="col-lg-3 col-md-4" *ngFor="let formation of formations" mdbTooltip="{{formation.chapterCount}} chapitres" placement="top">
      <div class="card z-depth-3 rounded available" [ngClass]="{'available':formation.location!='', 'unavailable':formation.location==''}">

        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top animated wow fadeInLeft" data-wow-delay="1s" style="height:150px;"
               [src]="formation.urlImg"
               alt="Card image cap">
          <a [href]="formation.location">
            <div class="mask flex-center rgba-blue-light">
            </div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">{{formation.title}}</h4>
          <h6>{{formation.totalMinutes}} minutes</h6>

        </div>

      </div>
    </div>
  </div>
  <hr style="border: 2px solid orange; width: 200px">
  <router-outlet></router-outlet>
</div>
<script>
    var vid = document.getElementById("intro");
    vid.volume = 0.2;
</script>
