<div>
  <mdb-carousel class="carousel slide" [animation]="'slide'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="display-2">Tutoriels</h1>
        <h3>Visiter la gallerie de formations</h3>
        <button type="button" class="btn btn-outline-light btn-lg">Aperçu</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="display-2">Vidéos de formation</h1>
        <h3>Visiter la gallerie vidéo</h3>
        <button type="button" class="btn btn-primary btn-lg">Enjoy it</button>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h1 class="display-2">Blog</h1>
        <button type="button" class="btn btn-primary btn-lg">Lire</button>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <br>
  <div class="container-fluid padding" style="margin-top:30px">
    <div class="row text-center welcome">
      <div class="col-12">
        <h1 class="display-4" style="color: blue;">Mes services</h1>
      </div>
      <hr style="border: 2px solid orange; width: 200px">
    </div>
  </div>
  <div class="container padding" style="margin-top:30px;">
    <div class="row ">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card shadow-lg bg-white rounded" style="width: 18rem;">
          <img src="/assets/img/fa-cogs.png" style="margin-left: 60px; width: 150px; height: 150px;"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style=" color: orange;">Tutoriels</h5>
            <p class="card-text">Ici je présente une série de tutoriels sur divers sujets techniques faisant partie de
              mon champs de compétences. Dans certain cas les contenus peuvent être présentés juste comme des retours
              d'expérience.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card shadow-lg bg-white rounded" style="width: 18rem;">
          <img src="/assets/img/fa-bar-chart.png" style="margin-left: 70px; width: 150px; height: 150px;"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style=" color: orange;">Démonstrations vidéo</h5>
            <p class="card-text">Vous trouverez ici des séries de courtes vidéos. Elles diffèrent toutes les unes aux
              autres aussi bien sur le fond que la forme. Cela varie d'une simple démo sur un process technique ou un
              tutoriel complet.</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card shadow-lg bg-white rounded" style="width: 18rem;">
          <img src="/assets/img/fa-cogs.png" style="margin-left: 60px; width: 150px; height: 150px;"
               class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style=" color: orange;">Articles</h5>
            <p class="card-text">Rédaction de différents articles sur divers sujets d'actualité faisant partie de mon
              écosystème technico-fonctionnel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <hr>
  <br>
  <div class="container padding">
    <div class="row text-center welcome">
      <div class="col-12">
        <h1 class="display-4" style="color: blue;">Mon histoire</h1>
      </div>
      <hr style="border: 2px solid orange; width: 200px">
      <p class="lead">Jeune passionné des nouvelles technologies de l'information et initialement diplômé en
        Électronique des systèmes embarqués. Grâce à une formation en autodidacte, J 'ai obtenu une admission en
        architecture logicielle et design pattern à New Brunswick University au Canada. Mon diplôme d'ingénieur en poche
        en 2012, je suis revenu en France en tant que consultant technique dans les banques, finance et assurance pour
        de grands comptes: BforBank, Banque de France, ING direct, AXA Groupes solution, pour ne citer que ceux là. J'ai
        décidé de me lancer en tant que freelance en 2017, afin de gagner plus de flexibilité et surtout pour pouvoir
        mieux cibler mes domaines d'expertise. Ceci me permettra au fil des années d'avoir un spectre de compétence bien
        spécifique.</p>
    </div>
  </div>
  <br><br><br>
  <hr>
  <div class="container padding">
    <div class="row text-center welcome">
      <div class="col-12">
        <h1 class="display-4" style="color: blue;">Témoignages et recommendations</h1>
      </div>
      <hr style="margin-left:420px; border: 2px solid orange; width: 300px">
      <br>
    </div>
  </div>

  <div class="container padding" style="margin-top:30px;">
    <div class="row ">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/img/koffi.jpg" style="margin-left: 60px; width: 150px; height: 150px;"
               class="card-img-top rounded-circle" alt="...">
          <div class="card-body">
            <h6 class="card-title" style=" color: orange;">Koffi HOUNOU - Team Manager chez ING</h6>
            <p class="card-text"><em>"J'ai eu le plaisir de collaborer avec Franck chez « ING Bank France » où il a été
              un membre de mon équipe Agile. Grace à son ouverture d’esprit et sa capacité à accepter le changement,
              Franck est arrivé en très peu de temps à devenir référent sur les technos embarquées sur le projet (Java /
              Angular / Jasmine / Oracle) mais aussi autonome dans la pratique de l’approche Agile."</em></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/img/laleh.jpg" style="margin-left: 70px; width: 150px; height: 150px;"
               class="card-img-top rounded-circle" alt="...">
          <div class="card-body">
            <h6 class="card-title" style=" color: orange;">Laleh Guérin - Automated Test Manager</h6>
            <p class="card-text"><em>"I have had the pleasure to work with Franck in AXA on ComRM project. Franck is an
              extraordinary team member, a very professional developer. He is very attentive to all developement needs,
              he has a great analytical mindset and he is capable of finding solutions and strategies for all
              developement requirements very quickly. I would recommend Franck as a very valuable member to any dynamic
              software team and company who think big for their project perspectives and have great professional
              objectives."</em></p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="/assets/img/black.png" style="margin-left: 70px; width: 150px; height: 150px;"
               class="card-img-top rounded-circle" alt="...">
          <div class="card-body">
            <h6 class="card-title" style=" color: orange;">Emmanuel Quinton - Lead dev Renault digital</h6>
            <p class="card-text"><em>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
              also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
              1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.</em></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h1 class="display-4" style="color: blue;">Nouveautés</h1>
        <hr style="margin-left:420px; border: 2px solid orange; width: 300px">
        <br>
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/1" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step One</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Two</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Three</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/4" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Step Three</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Bonus Step</h4>
                <h4 class="subheading">Subtitle</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
